body{
    background-color:#fef9ef ;
    color: #333333;
    font-family: arial;

  }
  .title{
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
  }

  .move-icon{
    height: 50px;
    text-align: center;
    font-size: large;
  }
  .move-button{
    background-color: transparent;
    border:3px solid #333333;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-right: 10px;
    cursor: pointer;
  }

.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score{
  margin-top: 60px;
}
.reset-score-button{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}